.result{
    float: left;
    width: 25%;
    min-hight: 420px;
    max-height: 420px;
    position: relative;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid transparent;
}
#Container{
    width: 1020px;
}
.imgg{
    min-height: 230px;
}
.subtitle{
    max-height: 90px;
    min-height: 90px;
}

.btt{
    width:100%;
    display: table-cell;
}

.btn-div{
    width: 100%;
}

.paragraph{
    min-height: 600px;
}