.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /*height: 40vmin;*/
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  background-color: whitesmoke;
  /*margin-top:5em;*/
  /*margin-bottom:10%;*/
  /*min-height: inherit;*/
  /*padding-bottom:60px;*/
}
.app-body{
  min-height: 100vh;
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0*/
}

.formularz{
  margin-top:10em;
}

.login{
  text-align: center;

}
.login-input{
  max-width:30em;
  text-align: center;
}
.login-msg{
  max-width:30em;
  text-align: center;
  min-height: 250px;
}

.thumbnail:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
  z-index:999;
}

#dog{
  height: 200px;
  width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
