

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#maska{
  font-family: Oswald, sans-serif;
  font-size: 100px;
  color: #0a3544;
  text-transform: uppercase;
  border: 14px solid #3570aa;
  border-radius: .2em;
  text-align: center;
  margin: 0;
  display: block;
  /*-webkit-mask-image: url(img/dog.jpg);*/
  -webkit-transform: rotate(-4deg);
  /*-moz-mask-image: url(img/dog.jpg);*/
  -moz-transform: rotate(-4deg);
  /*-o-mask-image: url(img/dog.jpg);*/
  -o-transform: rotate(-4deg);
  /*mask-image: url(img/dog.jpg);*/
  transform: rotate(-4deg);
  /*margin-bottom: 20px;*/
}
/*!
 * CoreUI - Open Source Dashboard UI Kit
 * @version v2.1.3
 * @link https://coreui.io
 * Copyright (c) 2018 creativeLabs Łukasz Holeczek
 * Licensed under MIT (https://coreui.io/license)
 */
/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */